html {
    scroll-behavior: smooth;
}

.navigation {
    height: 70px;
}

body {
    background: #B64a34;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Baloo Tamma 2", cursive;
}

#keyboard {
    height: 400px;
}

#jumbotron {
    background-color: rgb(39, 39, 39);
    color: white;
    height: 40vh;
    margin-bottom: 0px;
}

#about {
    height: 0vh;
    margin-top: 0px;
}

.text-warning {
    margin-top: 0px;
}

#about p {
    font-size: 16px;
    color: #d7d7d7;
    line-height: 1.6;
    margin-bottom: 50px;
}

.m-heading {
    color:rgb(225, 225, 225);
    margin-top: 50px
}

.about-img {
    height: 50vh;
    margin-bottom: 50px;
}

.m-heading {
    font-family: "Roboto Slab", serif;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}

.navigation-link {
    border: 2px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #f5ba09;
    transition: 0.5s ease;
}

#Background {
    background-image: url("codingal.png");
    background-repeat: no-repeat;
    background-position: 30% 15%;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    width: 1260px;
    color: white;
}

#social-media {
    background: rgb(100, 49, 49);
}

.media_link {
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid rgb(251, 222, 137);
    border-radius: 0.5rem;
    margin-top: 15px;
}

#container {
    width: 1150px;
    height: 730px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(gradient.png);
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: hsl(204, 14%, 93%);
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#keyboard {
    height: 400px;
}

.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 20px;
}

.number,
.empty {
    background-color: #eaedef;
}

.number,
.operator {
    cursor: pointer;
}


.operator:active,
.number:active {
    font-size: 15px;
}

.number:active {
    background-color: #d7d7d7;
}

.operator:focus,
.number:focus,
.empty:focus {
    outline: 0;
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #dadada;
    background-color: #3f3f3f;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

button:nth-child(1):active, button:nth-child(2):active, button:nth-child(3):active {
    background-color: #d7d7d7;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #80c155;
}

button:nth-child(4):active {
    background-color: #629440;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #dcad56;
}

button:nth-child(8):active {
    background-color: #c89e50;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #6bc2df;
}

button:nth-child(12):active {
    background-color: #5ba6be;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #d065d8;
}

button:nth-child(16):active {
    background-color: #b159b7;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #e3bf1e;
}

button:nth-child(20):active {
    background-color: #a98e17;
}
